<!DOCTYPE html>
<html>
    <head>
        <title>Diabete</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="margin-top: 250px;">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="page-header">
                        <h1>
                            Diabete <small>Password Recovary</small>
                        </h1>
                    </div>
                    <h2>
                        {{ title }}
                    </h2>
                    <p>
                        {{ Message }}
                    </p>
                    
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        
	</body>
</html>